.contact_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.contact_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--rosa-escuro);
  width: fit-content;
  color: var(--branco);
  border-radius: 999px;
  padding: 0 3rem;

  h1 {
    font-size: 40px;
    font-family: "Pacifico", system-ui, sans-serif;
    font-weight: 400;
    line-height: 3rem;
  }
}

.contact_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--rosa-escuro);
  border-radius: 20px;
  color: white;
  padding: 0.5rem 0rem;
  width: 100%;
}

.contact_item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (width < 48em) {
  .contact_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }

  .contact_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
}

@media (width < 80em) {
  .contact_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    width: fit-content;
  }

  .contact_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
