.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: auto;
  // overflow: hidden;
}

.intro_home {
  color: var(--branco);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-shadow: 0px 4px 4px #00000075;

  h1 {
    font-size: var(--fs-32);
    font-weight: bold;
  }

  h2 {
    font-size: var(--fs-16);
    font-weight: bold;
  }
}

.intro_home_button {
  font-weight: bold;
  width: 257px;
  height: auto;
  padding: 1.5rem;
  border-radius: 20px;
  font-size: var(--fs-16);
  background-color: var(--rosa-escuro);
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  outline: 0;

  box-shadow: 2px 2px 10px #00000075;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    background: var(--rosa-hover);
  }
}

.intro_home_image {
  // transform: translateX(1000px);
  // animation: slide-in 1s ease;
  // transition: all 2s;

  img {
    width: 650px;
    height: 454px;
    border-radius: 50px 200px 100px 50px;
    box-shadow: 2px 2px 10px #00000075;
  }
}

// @keyframes slide-in {
//   0% {
//     transform: translateX(1000px);
//     opacity: 0;
//   }
//   100% {
//     transform: translateX(0px);
//     opacity: 1
//   }
// }
