.home_container {
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 5rem;
  height: auto;
}

.intro_home {
  color: var(--branco);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);

  h1 {
    font-size: var(--fs-32);
    font-weight: bold;
    animation: slideInFadeText 2s ease forwards;
  }

  h2 {
    font-size: var(--fs-16);
    font-weight: bold;
    animation: slideInFadeSubText 2s ease forwards;
  }
}

.intro_home_button {
  font-weight: bold;
  width: 257px;
  height: auto;
  padding: 1.5rem;
  border-radius: 20px;
  font-size: var(--fs-16);
  background-color: var(--rosa-escuro);
  color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  outline: 0;
  animation: slideInFadeSubText 2s ease forwards;

  box-shadow: 2px 2px 10px #00000075;
  cursor: pointer;
  transition: all 0.1s;

  .home_cookie {
    background-image: url("../../assets/icons/cookie_font.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    transition: background-image 0s ease;
  }

  span {
    text-shadow: none;
  }

  &:hover {
    background: var(--rosa-hover);

    .home_cookie {
      animation: background-swap 0.5s steps(1) infinite;
    }
  }
}

.intro_home_image {
  width: 550px;
  border-radius: 50px 50px 50px 50px;
  object-fit: contain;
  opacity: 0;
  animation: slideInFade 2s ease forwards;
  position: absolute;
  bottom: 0;
  right: 8%;
}

@keyframes background-swap {
  0% {
    background-image: url("../../assets/icons/cookie_font.svg");
    transform: rotate(0deg);
  }
  50% {
    background-image: url("../../assets/icons/cookie_font_bite.svg");
    transform: rotate(30deg);
  }
  100% {
    background-image: url("../../assets/icons/cookie_font.svg");
    transform: rotate(0deg);
  }
}

@keyframes slideInFade {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFadeText {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFadeSubText {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (width < 48em) {
  .intro_home {
    color: var(--branco);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    align-items: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);

    h1 {
      font-size: var(--fs-24);
      font-weight: bold;
      animation: slideInFadeText 2s ease forwards;
    }

    h2 {
      font-size: var(--fs-16);
      font-weight: bold;
      animation: slideInFadeSubText 2s ease forwards;
    }
  }

  .intro_home_image {
    display: none;
  }
}

@media (width < 80em) {
  .intro_home {
    color: var(--branco);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    align-items: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);

    h1 {
      font-size: var(--fs-24);
      font-weight: bold;
      animation: slideInFadeText 2s ease forwards;
    }

    h2 {
      font-size: var(--fs-16);
      font-weight: bold;
      animation: slideInFadeSubText 2s ease forwards;
    }
  }

  .intro_home_image {
    display: none;
  }
}
