.header_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header_menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;

  img {
    animation: fadeIn 1.5s ease;
  }

  a:nth-child(2) {
    animation: fadeIn 2.5s ease;
  }
  a:nth-child(3) {
    animation: fadeIn 3.5s ease;
  }
  a:nth-child(4) {
    animation: fadeIn 4.5s ease;
  }
  a:nth-child(5) {
    animation: fadeIn 5.5s ease;
  }
  a:nth-child(6) {
    animation: fadeIn 6.5s ease;
  }
}

.header_logo {
  width: 200px;
  height: auto;
  image-rendering: -webkit-optimize-contrast; /* For Webkit (Chrome & Safari) */
  image-rendering: crisp-edges; /* For modern browsers */
  cursor: pointer;
  transition: all 1s;
}

.header_logo:hover {
  scale: 1.1;
}

.header_menu_burguer {
  display: none;
}

.header_background_menu_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--rosa-escuro);
  width: fit-content;
  padding: 10px;
  height: 26px;
  border-radius: 999px;
  color: var(--branco);
  transition: all 0.1s;
  cursor: pointer;

  &:hover {
    background: var(--rosa-hover);
  }
}

.header_background_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--rosa-escuro);
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 999px;
  transition: all 0.1s;
  cursor: pointer;

  &:hover {
    background: var(--rosa-hover);
  }
}

.header_socials_menu {
  a:nth-child(1) {
    animation: fadeIn 7.5s ease;
  }
  a:nth-child(2) {
    animation: fadeIn 8.5s ease;
  }

  img {
    width: 24px;
    height: 24px;
    line-height: 0;
  }
}

.header_socials_menu_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.header_menu_burguer_dropdown {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (width < 48em) {
  .header_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .header_socials_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a:nth-child(1) {
      animation: none;
    }
    a:nth-child(2) {
      animation: none;
    }
  }

  .header_menu {
    a {
      display: none;
    }
  }

  .header_menu_burguer {
    display: block;
    line-height: 0;
    // margin: 0 0 0.5rem 0;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .header_menu_burguer_dropdown {
    display: block;
    position: relative;
    background: var(--branco);
  }

  .header_menu_burguer_dropdown_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    top: 5px;
    padding: 0.5rem 2rem 0.5rem 1rem;
    width: fit-content;
    height: fit-content;
    background: var(--rosa-escuro);
    border-radius: 0px 10px 10px 0;

    a{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;

      img{
        width: 20px;
        height: 20px;
      }
    }
  }

  // .header_menu {
  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-start;
  //   gap: 3rem;
  //   // background: var(--branco);

  //   img {
  //     animation: none;
  //   }

  //   a:nth-child(2) {
  //     animation: none;
  //   }
  //   a:nth-child(3) {
  //     animation: none;
  //   }
  //   a:nth-child(4) {
  //     animation: none;
  //   }
  //   a:nth-child(5) {
  //     animation: none;
  //   }
  //   a:nth-child(6) {
  //     animation: none;
  //   }
  // }

  .header_background_menu_item {
    background: transparent;
    width: fit-content;
    padding: 0;
  }

  .header_background_menu_item:hover {
    background: transparent;
  }
}
