.products_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--rosa-escuro);
  animation: fadeIn_Products_Container 2s ease;
}

.products_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;

  h1 {
    font-size: 40px;
    font-family: "Pacifico", system-ui, sans-serif;
    font-weight: 400;
  }

  h2 {
    font-size: 20px;
  }
}

.products_best_sellers {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
  animation: toRight ease-in-out;
  animation-timeline: view();
  animation-range: 1400px 1900px;
}

.products_button_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: toRight ease-in-out;
  animation-timeline: view();
  animation-range: 500px exit;
}

.button_menu {
  background-color: var(--rosa-escuro);
  border-radius: 20px;
  color: var(--branco);
  font-weight: bold;
  width: fit-content;
  padding: 1rem 1.5rem;
  outline: 0;
  border: 0;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 2px 2px 10px #00000075;

  &:hover {
    background: var(--rosa-hover);
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadeIn_Products_Container {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (width < 48em) {
  .products_best_sellers {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    animation: none;
  }

  .products_button_menu {
    animation: none;
  }

  .button_menu {
    font-size: var(--fs-16);
    text-align: center;
  }
}

@media (width < 80em) {
  .products_best_sellers {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    animation: none;
  }

  .products_button_menu {
    animation: none;
  }

  .button_menu {
    font-size: var(--fs-20);
    text-align: center;
  }
}

@media (80em <= width < 85em) {
  .products_best_sellers {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    animation: toRight ease-in-out;
    animation-timeline: view();
    animation-range: 1500px exit;
  }

  .products_button_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: toRight ease-in-out;
    animation-timeline: view();
    animation-range: 700px exit;
  }
}

@media (85em <= width < 90em) {
  .products_best_sellers {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    animation: toRight ease-in-out;
    animation-timeline: view();
    animation-range: 1200px exit;
  }

  .products_button_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: toRight ease-in-out;
    animation-timeline: view();
    animation-range: 500px exit;
  }
}

@media (width >= 90em) {
  .products_best_sellers {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    animation: toRight ease-in-out;
    animation-timeline: view();
    animation-range: 1500px exit;
  }

  .products_button_menu {
    animation: toRight ease-in-out;
    animation-timeline: view();
    animation-range: 700px exit;
  }

  .button_menu {
    font-size: var(--fs-20);
    text-align: center;
  }
}
